body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 90%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 98%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#frequencyTable {
    margin-top: 20px;
}

.table-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.table-item {
    margin-right: 15px;
    text-align: center;
}

.table-item input {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

#preview {
    margin-top: 20px;
    font-size: 18px;
}

#preview span {
    color: black; /* Warna default hitam */
}

#preview span.replaced {
    color: red; /* Warna merah untuk huruf yang diganti */
}
